.about-hero {
  background-color: #03672b;
  color: white;
  padding: 60px 20px;
  display: flex;
  justify-content: flex-start; /* Ändrat från center */
  align-items: center;
  min-height: 250px;
}

.about-hero-content {
  max-width: 800px;
  text-align: left; /* Ändrat från center */
  margin-left: 100px; /* Lägg till marginal från vänster */
}

.about-hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-weight: bold;
  color: white;
}

.about-hero-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: white;
}