.logo-strip {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 10px 20px;
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

.logo-strip img {
  max-width: 200px;
  height: auto;
  padding: 6px;
  background-color: #ffffff;
  border-radius: 8px;
}
